# macOS files
.DS_Store

# archives
*.zip
*.tgz

# external modules
node_modules

# other files & directories files
media/*
backup/*
lib/backup/*
/*.csv
/*.ods
/*.bak
sessionids.json
mydata.json
mydata_bak.json
